<div class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <span class="navbar-brand">FlyWeb AIO</span>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="#printer" data-toggle="tab">Printer</a>
        </li>
        <li>
          <a href="#scanner" data-toggle="tab">Scanner</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="tab-content">
  <div id="printer" class="tab-pane fade active in">
    <h3>Supply Levels</h3>

    <div id="supply-levels"></div>

    <h3>Send To Printer</h3>

    <span class="btn btn-primary fileinput-button">
      Select File
      <i class="material-icons">folder_open</i>
      <input type="file" id="print-file" name="file">
    </span>

    <div id="upload-progress" class="progress progress-striped active fade">
      <div class="progress-bar"></div>
    </div>
  </div>

  <div id="scanner" class="tab-pane fade">
    <h3>Scanner Preview</h3>

    <canvas id="preview-canvas"></canvas>

    <button type="button" id="preview-button" class="btn btn-primary" data-toggle="modal" data-target="#preview-modal">Preview</button>
    <button type="button" id="scan-button" class="btn btn-primary" data-toggle="modal" data-target="#scan-modal">Scan</button>

    <!-- Preview modal -->
    <div id="preview-modal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Previewing</h4>
          </div>
          <div class="modal-body">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 66 66" class="md-spinner">
              <circle cx="33" cy="33" r="30"></circle>
            </svg>
          </div>
          <div class="modal-footer">
            <button type="button" id="preview-cancel-button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Scan modal -->
    <div id="scan-modal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Scanning</h4>
          </div>
          <div class="modal-body">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 66 66" class="md-spinner">
              <circle cx="33" cy="33" r="30"></circle>
            </svg>
          </div>
          <div class="modal-footer">
            <button type="button" id="scan-cancel-button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
