<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">

  <!-- Material Design fonts -->
  <link rel="stylesheet" type="text/css" href="/vendor/roboto-fontface/css/roboto/roboto-fontface.css">
  <link rel="stylesheet" type="text/css" href="/vendor/material-design-icons/iconfont/material-icons.css">

  <!-- Bootstrap -->
  <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/dist/css/bootstrap.min.css">

  <!-- Bootstrap Material Design -->
  <link rel="stylesheet" type="text/css" href="/vendor/bootstrap-material-design/dist/css/bootstrap-material-design.min.css">
  <link rel="stylesheet" type="text/css" href="/vendor/bootstrap-material-design/dist/css/ripples.min.css">
  
  <!-- SnackbarJS -->
  <link rel="stylesheet" type="text/css" href="/vendor/snackbarjs/dist/snackbar.min.css">

  <!-- Application styles -->
  <link rel="stylesheet" href="/css/app.css" />
</head>
<body>
  <div id="container">
    {{{body}}}
  </div>

  <!-- jQuery -->
  <script src="/vendor/jquery/dist/jquery.min.js"></script>

  <!-- Bootstrap -->
  <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
  
  <!-- Bootstrap Material Design -->
  <script src="/vendor/bootstrap-material-design/dist/js/ripples.min.js"></script>
  <script src="/vendor/bootstrap-material-design/dist/js/material.min.js"></script>
  
  <!-- SnackbarJS -->
  <script src="/vendor/snackbarjs/dist/snackbar.min.js"></script>
  
  <!-- Fabric.js -->
  <script src="/vendor/fabric/dist/fabric.js"></script>
  
  <!-- Application scripts -->
  <script src="/js/app.js"></script>
</body>
</html>
