#preview-canvas {
  background-color: #fff;
  width: calc(72.634vmin - 100px);
  height: calc(100vmin - 100px);
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
}

.material-icons {
  line-height: 1.4rem;
  margin-top: -.1rem;
  vertical-align: middle;
}

.tab-content {
  margin: 0 1.6rem;
}
