[hidden] {
  display: none;
}

body {
  background: #adaeb3 url(../img/texture-noise.png);
  font-family: Arial, Helvetica, sans-serif;
  -moz-user-select: none;
       user-select: none;
}

button {
  background: linear-gradient(to bottom,#333,#333 50%,#555 50%,#555);
  background-size: 100% 10px;
  border: 5px solid #222;
  border-radius: 10px;
  box-shadow: 0 12px 8px 4px rgba(0,0,0,.3);
  color: rgba(255,255,255,.65);
  font-size: 24px;
  font-weight: 400;
  text-shadow: 0 -1px 0 rgba(0,0,0,.9);
  transition: box-shadow .1s;
}

button:active {
  box-shadow: 0 3px 4px 1px rgba(0,0,0,0.5),inset 0 0 0 100px rgba(0,0,0,.3);
}

label[for="mode"] {
  background: #555;
  border: 5px solid #222;
  border-radius: 10px;
  box-shadow: 0 4px 2px 0 rgba(0,0,0,.3);
  color: rgba(255,255,255,.65);
  font-size: 16px;
  font-weight: 400;
  text-shadow: 0 -1px 0 rgba(0,0,0,.9);
  position: absolute;
  top: 5px;
  right: 5px;
  width: 140px;
  height: 38px;
  text-align: center;
}

label[for="mode"]:active {
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.5),inset 0 0 0 100px rgba(0,0,0,.3);
}

#mode {
  visibility: hidden;
}

#mode-off,
#mode-on {
  position: relative;
  top: -12px;
}

#mode-off {
  display: block;
}

#mode-on {
  display: none;
}

#mode:checked ~ #mode-off {
  display: none;
}

#mode:checked ~ #mode-on {
  display: block;
}

#forward {
  position: absolute;
  top: calc(50% - 120px);
  right: 20px;
  width: 100px;
  height: 240px;
}

#reverse {
  position: absolute;
  top: calc(50% - 120px);
  right: 140px;
  width: 200px;
  height: 100px;
}

#joystick {
  position: absolute;
  top: calc(50% - 75px);
  left: 50px;
  width: 150px;
  height: 150px;
}
